*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  /* font-family: 'Times New Roman', Times, serif; */
  background-color:lavenderblush;
  color:rgb(79, 92, 105);
}
.booklist{
  width: 100vw;
  max-width: 1170px;
  margin: 6rem auto;
  gap: 4rem;
  display:grid;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book{
  background: lavender;
  border-radius: 2rem;
  padding: 3rem;
  text-align: center;
  border-style:double;
  border-width: 0.1cm;
}
.book img {
  width: 70%;
  object-fit: cover;
}


.book img{
  width: 100;

}
.book h2{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}
.heading h1{
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
 font-size: 3rem;
}